.home-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.5s;
}

.button {
    border: 1px solid black;
    padding: 3px 10px;
    border-radius: 3px;
    cursor: pointer;
}

.button:hover {
    background-color: #f3f3f3;
}

.gallery-container {
    display: none;
    flex-direction: column;
    align-items: center;
}

.cycler {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cycler div {
    margin: 50px;
}

.painting-showcase {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.painting-showcase img {
    height: 500px;
}

.painting-showcase img:hover {
    cursor: pointer;
}

.left-arrow {
    border: solid gray;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: scale(2) rotate(135deg);
}

.right-arrow {
    border: solid gray;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: scale(2) rotate(-45deg);;
}

.arrow:hover {
    cursor: pointer;
}

.home-page-container .button{
    margin: 10px;
}

a {
    text-decoration: none;
    color: black;
}